.btn-addUser {
    background-color: #A74482;
    border: none;
    border-radius: 0.2em;
    padding:0.6em;
    font-weight: 500;
    font-size: 16px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start:1;
    grid-row-end:3;
  

}

.btn-addUser:hover {
    cursor: pointer;
    filter: brightness(85%);
}