* {
    color:#EDE3E4;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
   
    flex-wrap: wrap;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}





.userCard {
    width: 300px;
    height: auto;
    
    background-color: #A74482;
    
    padding: 1.5em;
    border-radius: 0.2em;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap:0.2em;

}



.userName {
    font-weight: 400;
    
    padding-bottom: 0.2em;
    font-size: large;
    font-weight: bold;
}


.userEmail {
    color: #f8f8f8;
    grid-column-start:1;
    grid-column-end:2;
}

.userFone {
    display: block;
    grid-column-start:1;
    grid-column-end:2;
    padding-top: 0.2em;
}

.faTrash {
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:1;

    background-color: transparent;
    border:none;

    cursor: pointer;
}

.faEdit {
    grid-column-start:2;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:2;

    background-color: transparent;
    border:none;

    cursor: pointer;
}