* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'figtree', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    
    background-color: #161C27;
   
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    
    row-gap: 1em;
    
}

.title {
    color: #f8f8f8;
    margin: 0.5em;
    font-size: 40px;
} 