* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'figtree', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    
    background-color: #161C27;
   
}

.title {
    color: #f8f8f8;
    margin-block: 1em;
    font-size: 40px;
} 